
/* CSS Document */

body {
      padding: 0;
      margin: 0;
      font-family: Arial,Helvetica,sans-serif;}
   
.container { width: 80%;
            margin: auto;
            overflow: hidden;}
            
.clr {clear: both;}
header { 
        background: #ade8f4;
        color:#fff;
        padding-top: 30px;
        min-height: 70px;
        }
        
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    
}
    
#branding {
    float:left;
}

#branding h1 {margin: 0;
              font-family:myriad pro regular; }

header nav {float: right;
            margin-top: 10px;}
            
#showcase {background:#90e0ef;

           border: 2px solid white;}
            
.img img { height: 530px;
           margin: 20px;
           float: right;
           border-radius: 20px;
           border: 5px solid white;}
       
.main p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#edf6f9;
	font-size:22px;
}
.main p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#fff;
	font-size:60px;
	
}
.main p:nth-child(3){
	font-family: myriad pro regular;
	color: #edf6f9;
	font-size:30px;
	line-height:30px;
}
 
.main p{
	margin:45px 0px 25px;
	line-height:0px;
}

.main {float:left;}

#AboutMe {
	width: 50%;
	height: 50%;
    margin: auto;
    margin-top: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    background: #ade8f4;
    color:#fff;
}

#AboutMe h2 {text-align: center;
             font-family: myriad pro regular;}
#AboutMe p {line-height: 20px;
             font-family: calibri;
             font-size: 20px;}

#ContactMe {
	width: 50%;
	height: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    background: #ade8f4;
    color:#fff;
}

#ContactMe h2 {text-align: center;
             font-family: myriad pro regular;}
             
.social-icons { text-align: center;}
             
#ContactMe li {list-style: none;
               font-size: 20px;
               font-family: calibri;}
             
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    color: blue;
}

.fa-instagram, .fa-github, .fa-linkedin {
  color: white;
}
.fa-github {margin-left: 15px;}

footer {
    background: #ade8f4;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: myriad pro regular;
}

@media (max-width:480px){
    
    header #branding,
    header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    
 .main p:nth-child(2) { line-height: 50px;
	}
    
.main p:nth-child(3) { margin-top: 20px;}
    
 .social-icons ul { width: 100%;}
    
}
